<!DOCTYPE HTML>
<!--
	Twenty by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Healthy Eats</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body class="index">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header" class="alt">
					<h1 id="logo"><a href="index.html">Healthy Eats <span>by KWK Girls</span></a></h1>
					<nav id="nav">
						<ul>
							<li class="current"><a href="index.html">Welcome</a></li>
							<li class="submenu">
								<a href="#">More</a>
								<ul>
									<li><a href="insertabout">About</a></li>
									<li><a href="inserthealth_facts">Health Facts</a></li>
									<li><a href="insert_formhere">Find Healthy Options</a></li>
									
									
								</ul>
							</li>
						</ul>
					</nav>
				</header>

			<!-- Banner -->
				<section id="banner">

					<!--
						".inner" is set up as an inline-block so it automatically expands
						in both directions to fit whatever's inside it. This means it won't
						automatically wrap lines, so be sure to use line breaks where
						appropriate (<br />).
					-->
					<div class="inner">

						<header>
							<h2>Healthy Eats</h2>
						</header>
						<p>Replace your <strong>favorite foods</strong>
						<br />
						with <strong>Healthy options</strong>
						<br />
						<footer>
							<ul class="buttons vertical">
								<li><a href="#main" class="button fit scrolly">Find a Recipe</a></li>
							</ul>
						</footer>
					</div>
						 
				</section>

			<!-- Main -->
				<article id="main">

					<header class="special container">
						<h2><strong>Pizza, Donuts, Ice Cream</strong> 
						<br />
						All delicious but not so healthy</h2>
						<br />
						</p>
						  <body>
    
<!--  <form method="POST" id="recipe">-->
<!--  <br>-->
<!--<input type="submit">-->
<!--</form>-->
  <h3> what are you craving? </h3>
  <select name = "recipe_type" form="recipe">
  <option  value="savory">savory</option>
  <option  value="sweet">sweet</option>
  <option  value="spicy">spicy</option>
</select>
<br>
<h3>select a meal</h3>
<select name = "meal_type" form="recipe">
  <option  value="breakfast">breakfast</option>
  <option  value="lunch">lunch</option>
  <option  value="dinner">dinner</option>
</select>
<br>
<h3> do you have any dietary restrictions?</h3>
<select name = "meal_restriction" form="recipe">
  <option  value="none">none(show all)</option>
  <option  value="vegetarian">vegetarian</option>
  <option  value="vegan">vegan</option>
  <option  value="gluten-free">gluten-free</option>
  <option  value="nut-free">nut-free</option>
</select>

<form method="POST" id="recipe">
  <br>
<input type="submit">
</form>
					</header>

					<!-- One -->
						<section class="wrapper style2 container special-alt">
							<div class="row 50%">
								<div class="8u 12u(narrower)">

									<header>
										<h2>#<strong>FOODISLIFE</strong></h2>
									</header>
									<p>Food is an essential part in our lives, so it shouldn't be boring. It's difficult not to turn to our favorite junk foods when hunger strikes. The health of one is about 20% dependent on exercise and 80% dependent on food. The  nutrition foods contain play a great role in how we function, which makes it vital to make the right decisions when it comes to food.</p>
									<footer>
										<ul class="buttons">
											<li><a href="#" class="button">Find Out More</a></li>
										</ul>
									</footer>

								</div>
								<div class="4u 12u(narrower) important(narrower)">

									

								</div>
							</div>
						</section>

					<!-- Two -->
						<section class="wrapper style1 container special">
							<div class="row">
								<div class="4u 12u(narrower)">

									<section>
										<span class="icon featured fa-check"></span>
										<header>
											<h3>Arianna</h3>
										</header>
										<p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.</p>
									</section>

								</div>
								<div class="4u 12u(narrower)">

									<section>
										<span class="icon featured fa-check"></span>
										<header>
											<h3>Lauren</h3>
										</header>
										<p>is going into her freshman year of high school.  She is passionate about people being as healthy as they can be. She is a Kode With Klossy Level 1 Chicago Scholar.  Before KWK Lauren had done other coding programs but this one had the most impact on her. Never before had she been part of a group that was as happy and supportive as SHE-cago. </p>
									</section>

								</div>
								<div class="4u 12u(narrower)">

									<section>
										<span class="icon featured fa-check"></span>
										<header>
											<h3>Ruth</h3>
										</header>
										<p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.</p>
									</section>

								</div>
							</div>
						</section>

					<!-- Three -->
						<section class="wrapper style3 container special">

							<header class="major">
								<h2>Easy Changes<strong></strong></h2>
							</header>

							<div class="row">
								<div class="6u 12u(narrower)">

									<section>
										<a href="#" class="image featured"><img src="https://chiaseeds24.com/en/wp-content/uploads/sites/3/2016/02/chia-seeds-pesticide-and-chemical-free-2-lb-2-pounds-3-360x202.jpg" alt="" /></a>
										<header>
											<h3>Chia Seeds</h3>
										</header>
										<p>Chia seeds are an easy way to add  nutrition in your diet. The </p>
									</section>

								</div>
								<div class="6u 12u(narrower)">

									<section>
										<a href="#" class="image featured"><img src="images/pic02.jpg" alt="" /></a>
										<header>
											<h3>An Airport Terminal</h3>
										</header>
										<p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
									</section>

								</div>
							</div>
							<div class="row">
								<div class="6u 12u(narrower)">

									<section>
										<a href="#" class="image featured"><img src="images/pic03.jpg" alt="" /></a>
										<header>
											<h3>Hyperspace Travel</h3>
										</header>
										<p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
									</section>

								</div>
								<div class="6u 12u(narrower)">

									<section>
										<a href="#" class="image featured"><img src="images/pic04.jpg" alt="" /></a>
										<header>
											<h3>And Another Train</h3>
										</header>
										<p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
									</section>

								</div>
							</div>

							<footer class="major">
								<ul class="buttons">
									<li><a href="#" class="button">See More</a></li>
								</ul>
							</footer>

						</section>

				</article>

			
			<!-- Footer -->
				<footer id="footer">

					
					<ul class="copyright">
						<li>&copy; Untitled</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>

				</footer>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollgress.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>








<!--<!DOCTYPE html>-->
<!--<html>-->
<!--  <head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>title</title>-->
<!--    <link rel="stylesheet" href="css/style.css">-->
<!--  <body>-->
    
<!--  <form method="POST" id="recipe">-->
<!--  <br>-->
<!--<input type="submit">-->
<!--</form>-->

<!--  <select name = "recipe_type" form="recipe">-->
<!--  <option  value="savory">savory</option>-->
<!--  <option  value="sweet">sweet</option>-->
<!--  <option  value="spicy">spicy</option>-->
<!--</select>-->
<!--<br>-->
<!--<h3>select a meal</h3>-->
<!--<select name = "meal_type" form="recipe">-->
<!--  <option  value="breakfast">breakfast</option>-->
<!--  <option  value="lunch">lunch</option>-->
<!--  <option  value="dinner">dinner</option>-->
<!--</select>-->
<!--<br>-->
<!--<h3> do you have any dietary restrictions?</h3>-->
<!--<select name = "meal_restriction" form="recipe">-->
<!--  <option  value="none">none(show all)</option>-->
<!--  <option  value="vegetarian">vegetarian</option>-->
<!--  <option  value="vegan">vegan</option>-->
<!--  <option  value="gluten-free">gluten-free</option>-->
<!--  <option  value="nut-free">nut-free</option>-->
<!--</select>-->

<!--<form method="POST" id="recipe">-->
<!--  <br>-->
<!--<input type="submit">-->
<!--</form>-->

<!--  </body>-->
<!--</html>-->
