<html>
	<head>
		<title>Healthy Eats</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body class="index">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header" class="alt">
					<h1 id="logo"><a href="index.html">Healthy Eats <span>by KWK Girls</span></a></h1>
					<nav id="nav">
						<ul>
							<li class="current"><a href="index.html">Welcome</a></li>
							<li class="submenu">
								<a href="#">More</a>
								<ul>
									<li><a href="insertabout">About</a></li>
									<li><a href="inserthealth_facts">Health Facts</a></li>
									<li><a href="insert_formhere">Find Healthy Options</a></li>


								</ul>
							</li>
						</ul>
					</nav>
				</header>

			<!-- Banner -->
				<section id="banner">

					<!--
						".inner" is set up as an inline-block so it automatically expands
						in both directions to fit whatever's inside it. This means it won't
						automatically wrap lines, so be sure to use line breaks where
						appropriate (<br />).
					-->
					<div class="inner">

						<header>
							<h2>Healthy Eats</h2>
						</header>
						<p><h2><%=@recipe_name%></h2>
            <img src = <%=@recipe_image%>
            <ul>
              <% @recipe_ingredients.each do |ing| %>
                <li><%= ing %></li>
            <% end %>
            </ul>
          <h3><%=@recipe_attribution%></h3>
						<br />
						<footer>
							<ul class="buttons vertical">
								<li><a href="#main" class="button fit scrolly">Find a Recipe</a></li>
							</ul>
						</footer>
					</div>

				</section>